<h2><%= @user.email %>'s Loyalty Programs</h2>

<ul>
<% @user.merchants.each do |merchant| %>
  <li><%= link_to merchant.name, merchant.link.url %></li>
<% end %>
</ul>

<p><%= link_to "Log Out", logout_path %></p>
