<h1>Current Favorite</h1>

<% binding.pry %>
<% @favorite.each do |merchant| %>
  Name: <%= link_to merchant.name, merchant.link.url, target: "_blank" %><br />
  Location: <%= merchant.location %><br />
  Total Stars: <%= merchant.star_count %><br />
<% end %>
