<!-- User's Merchants -->
  <div class="collapsible-header active"><i class="material-icons">store</i>All Merchants</div>
  <%= render collection: @merchants, partial: 'users_merchants', as: :merchant %>
