<div class="container center merchant-show">
  <div class="row">
    <%= render 'show', merchant: @merchant %>
  </div>

  <a href="#" class="js-next center" data-id="<%=@merchant.id%>">Next...</a>
</div>
