<div class="container about">
  <div class="row">
    <div class="center">
      <h3>Welcome to Punchcard!</h3>

      <p class="col s8 push-s2" >Punchcard is the client-side tracker for loyalty programs connected to
        Square. After enrolling in a Merchant's Loyalty Program through Square,
        copy and paste the link they've text you into Punchcard so you can view and
        edit all of your loyalty program information in one place!
      </p>
    </div>
  </div>
</div>
