<h3 class="center logo about_all">
  <%= image_tag("/assets/logo.png", height: 100, width: 450, class:"logo_image") %>
</h3>
<div class="container about">
  <p class="container center col s8 push-s2" >Punchcard is the client-side tracker for loyalty programs connected to
    Square. After enrolling in a Merchant's Loyalty Program through Square,
    copy and paste the link they've text you into Punchcard so you can view and
    edit all of your loyalty program information in one place!
  </p>
</div>
