 @import "materialize";


 nav {
   background-color: #546476;
 }

 .btn-large {
  background-color: transparent;
  border: 2px solid #86878C;
  color: #86878C;
  border-radius: 5%;
 }

 .btn-large:hover {
   background-color: #86878C;
   color: white;
 }

 .btn-small {
  background-color: transparent;
  border: 2px solid #86878C;
  color: #86878C;
  border-radius: 5%;
 }

 .btn-small:hover {
   background-color: #86878C;
   color: white;
 }

 .logo_text {
   color: #86878C;
   align-items: center;
 }

 .logo_image {
   display: inline-block;
   vertical-align:middle;
 }

 .landing {
  display: -ms-flexbox;
  display:flexbox;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
 }

 .navbar-fixed {
   background-color: #86878C;
 }

 .form {
   padding-top: 100px;
 }

/*
body {
  background: linear-gradient(
  grey 30%,
  white 100%
  );
  background-repeat: no-repeat;
}
*/
