 @import "materialize";

 nav {
   background-color: #546476;
 }

 .btn-large {
  background-color: grey;
 }

 .btn-large:hover {
   background-color: #E7EAEC
 }

 .logo_text {
   color: grey;
   align-items: center;
 }

 .logo_image {
   display: inline-block;
   vertical-align:middle;
 }

 .landing {
  display: -ms-flexbox;
  display:flexbox;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
 }
