 @import "materialize";

 .logo {
   background-image:asset-url("images/logo.png");
 }

 nav {
   background-color: #546476;
 }

 .btn-large, .btn-small {
  background-color: transparent;
  border: 2px solid #86878C;
  color: #86878C;
  border-radius: 5%;
 }

 .btn-large:hover, .btn-small:hover {
   background-color: #86878C;
   color: white;
 }

 .logo_text {
   color: #86878C;
   align-items: center;
 }

 .logo_image {
   display: inline-block;
   vertical-align:middle;
 }

 .landing {
  display: -ms-flexbox;
  display:flexbox;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  padding-top: 50px;
 }

.navbar-fixed {
   background-color: #86878C;
 }

 .form {
   padding-top: 100px;
 }

.about {
  padding-top: 100px;
  color: #86878C;
}

.about h3 {
  text-decoration: underline;
}

.about p {
  font-size: 18px;
}

.error_description {
  color: red;
}

.field_with_errors input#merchant_name, .field_with_errors input#merchant_location, .field_with_errors input#merchant_link_attributes_url {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

// NavBar

// FIX SIDENAV SPACING
.side-nav li>a {
  padding: 0 16px;
}
//FIX SIDEBAR DIVIDERS
.side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}

// SIDENAV HEADER
.sidenav-header {
background: url("../images/user-bg.jpg") no-repeat center center;
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
  .row {
    margin-bottom: 0;
  }
}
.sidenav-footer {
margin-bottom: 0px;
padding: 0;
  .row {
    margin-bottom: 0;
    .social-icons {
      a {
        opacity: 0.5;
        padding: 0;
        text-align:center;
        &:hover {
          background-color:inherit;
          opacity: 1;
        }
      }
    }
  }
}
